<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Push App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button
  expand="block"  
  class="ion-margin-bottom"
  (click)="createOneSignalUser()">
    Crear Usuario OneSignal  
  </ion-button>

  <ion-button
  expand="block"  
  class="ion-margin-bottom"
  (click)="deleteOneSignalUser()">
    Eliminar Usuario OneSignal  
  </ion-button>

  <ion-button expand="block" class="ion-margin-bottom" (click)="sendNotificationSpecificDevice()">
    <ion-text>
      Enviar notificacion a un dispositivo
    </ion-text>
  </ion-button>

  <ion-button expand="block" class="ion-margin-bottom" (click)="sendNotificationSpecificDeviceFromWeb()">
    <ion-text>
      Enviar notificacion a dispositivos desde Web
    </ion-text>
  </ion-button>

  <ion-button expand="block" class="ion-margin-bottom" (click)="sendNotificationAllUsers()">
    <ion-text>
      Enviar notificacion a todo dispositivo
    </ion-text>
  </ion-button>

</ion-content>
